.weatherLocationCont{
    margin: 30px;
    width: 400px;
    padding: 15px;
    font-family: 'Roboto', sans-serif;
    box-shadow: 10px 10px 53px -13px rgba(0,0,0,0.75);
    background: rgb(0,0,240,0.1);
}
.locationCont{
    width: 100%;
    height:35px;
    text-align: left;
    padding-left: 10px;
    color: #888;
    line-height: 35px;
}

.locationCont h1 {
    margin: 0;
}